.postwrite{ padding-top: 20px; padding-bottom: 150px;
    .postwrite-bx{ width: 100%; max-width: 1280px; margin: 0 auto; 
        .postwrite-img-map-content{ overflow: hidden; margin-bottom: 50px; font-size: 0; 
            .img-content{ float: left; width: getPer( 780 ); margin-right: getPer( 20 ); overflow: hidden; background-color: #fff;
                .img-container{ width: 100%; height:690px; margin-bottom: 50px;
                    .swiper-container{ height: 100%; background-color: #f9f9f9; 
                        .swiper-wrapper{
                            .swiper-slide{ display: inline-block; height: 100%; background-repeat: no-repeat; background-size: contain; background-position: center;
                                &.image-view-list{ position: relative; background-color: #000;
                                    .info-bx{ 
                                        .option-bx{ position: absolute; left: 0; top: 0; width: 100%; height: 50px; overflow: hidden; padding: 10px; 
                                            .editor{ float: left; 
                                                .btn{ border: 1px solid #0d0d0d; }
                                            }
                                            
                                            .emoticon-bx{ float: right; 
                                                img{ width: auto; display: inline-block; border: 1px solid #0d0d0d; background-color: #fff;
                                                
                                                }
                                            }
                                        }
    
                                        .message-bx{ position: absolute; width: 100%; bottom: 0px; left: 0; background-color: rgba( 255, 255, 255, 0.7 );
                                            textarea{ font-size: 12px; padding: 15px 10px; color: #0d0d0d; width: 100%; background-color: rgba( 255, 255, 255, 0.5 );
                                                // &::placeholder{ color: #0d0d0d; }
                                            }
                                        }
                                    }

                                    .img-view{ width: 100%; height: 100%; background-size: contain; background-position: center; background-repeat: no-repeat;

                                    }
                                }

                                .upload-bx{ width: 100%; height: 100%; text-align: center; padding-top: 284px; 
                                    .upload-title{ text-align: center; font-size: 13px; color: #0d0d0d; margin-bottom: 10px; line-height: 18px; }

                                    .btn-upload-bx{ 
                                        .btn-upload{ display: inline-block; padding: 12px 18px; border: 1px solid #d3d3d3;
                                            font-size: 15px; color: #d3d3d3; font-weight: bold; 
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .postwrite-write-bx{ margin-right: getPer( 20 );
                    .postwrite-title{ border-bottom: 1px solid #d3d3d3; padding: 0 10px 10px; font-size: 16px; color: #0d0d0d; margin-bottom: 10px; 
                        input::placeholder{ color: #0d0d0d; }
                    }
    
                    .postwrite-description{ margin-bottom: 10px;
                        textarea{
                            width: 100%; border: 1px solid #d3d3d3; padding: 10px; font-size: 13px;
                            background-color: transparent;
                        }
                    }

                    .hash-tag-bx{ border-bottom: 1px solid #d3d3d3; padding: 0 10px 10px; font-size: 16px; color: #0d0d0d; margin-bottom: 10px; 
                        input::placeholder{ color: #d3d3d3; }
                    }
                }
            }

            .map-content{ width: getPer( 480 ); float: left;
                .map-container{ width: 100%; height: 690px; margin-bottom: 50px;
                    .vue-map-container{ width: 100%; height: 100%; display: block;
                        .vue-map{ width: 100%; height: 100%; }
                    }
                }

                .map-option{ padding: 5px;
                    .map-option__title{ margin-bottom: 8px;
                        p{ font-size: 16px; }
                    }
    
                    .map-option-emoticon{ margin-bottom: 10px;
                        .map-option__emoticon{ font-size: 0; 
                            .map-option__emoticon-list{ padding: 2px; display: inline-block; margin-right: 5px; margin-bottom: 5px; border: 1px solid #d3d3d3; }
                        }
                    }
                }
            }
        }
        .postwrite-complete{
            > div{ text-align: center;
                .btn-complete{ display: inline-block; color: #0d0d0d; font-size: 16px; border: 1px solid #d3d3d3; padding: 10px 60px; }
            }
        }
    }
}