.post{ padding-top: 20px; padding-bottom: 150px;
    .post-bx{ width: 100%; max-width: 1280px; margin: 0 auto; 
        .post-img-map-content{ overflow: hidden; font-size: 0; margin-bottom: 10px; position: relative;
            .img-content{ float: left; width: getPer( 780 ); margin-right: getPer( 20 ); background-color: #fff; position: relative;
                .img-container{ width: 100%; height: 690px;
                    .swiper-container{ height: 100%;
                        .swiper-wrapper{
                            .swiper-slide{ display: inline-block; height: 100%; background-repeat: no-repeat; background-size: contain; background-position: center;
                                &.image-view-list{ position: relative; background-color: #000;
                                    .info-bx{ 
                                        .option-bx{ position: absolute; left: 0; top: 0; width: 100%; height: 30px; text-align: right;
                                            img{ width: auto; display: inline-block; margin-right: 5px; margin-top: 5px; border: 1px solid #0d0d0d; background-color: #fff;
                                                
                                            }
                                        }
    
                                        .message-bx{ position: absolute; width: 100%; bottom: 0px; left: 0; background-color: rgba( 255, 255, 255, 0.9 );
                                            span{ display: inline-block; font-size: 12px; padding: 15px 10px; color: #0d0d0d; }
                                            
                                        }
                                    }

                                    .img-view{ width: 100%; height: 100%; background-size: contain; background-position: center; background-repeat: no-repeat; }
                                }
                            }
                        }
                    }
                }
            }

            .map-content{ width: getPer( 480 ); float: left; height: 100%;
                .map-container{ width: 100%; height: 690px;
                    .vue-map-container{ width: 100%; height: 100%; display: block;
                        .vue-map{ width: 100%; height: 100%; }
                    }
                }
            }
        }

        .post-content{ margin-bottom: 20px; padding-top: 0px; overflow: hidden;
            .post-write-bx{ width: getPer( 780 ); float: left; margin-right: getPer( 20 ); 
                .post-title{ padding: 0 10px 10px; font-size: 18px; color: #0d0d0d; }
                .like-bx{ margin-bottom: 5px; }
                .post-description{
                    p{ width: 100%; padding: 10px; font-size: 13px; line-height: 18px; }
                }

                .hash-tag-bx{ padding: 10px 10px 20px; width: 100%; margin-bottom: 10px; border-bottom: 1px solid #d3d3d3; 
                    ul{ overflow: hidden; 
                        li{ float: left; margin-right: 8px; margin-bottom: 5px;
                            a{ font-size: 15px; color: #4b4f56; 
                                &:hover{ text-decoration: underline; }
                            }
                        }
                    }
                }
            }

            .post-user-bx{ width: getPer( 480 ); float: left; 
                .profile-bx{ margin-bottom: 50px; }
                .new-list{
                    h3{ text-align: center; padding: 10px 0; font-size: 18px; color: #0d0d0d; font-weight: bold; margin-bottom: 15px; border: 1px solid black; }
                    ul{
                        li{
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
}