 @charset "utf-8";
 @font-face {
   font-family: 'Nanum Gothic';
   font-style: normal;
   font-weight: normal;
   src: url( ~static/font/NanumGothic-Regular.eot);
   src: url( ~static/font/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
        url( ~static/font/NanumGothic-Regular.woff2) format('woff2'),
        url( ~static/font/NanumGothic-Regular.woff) format('woff'),
        /*url(./NanumGothic-Regular.ttf) format('truetype');*/
 }
 @font-face {
   font-family: 'Nanum Gothic';
   font-style: normal;
   font-weight: bold;
   src: url( ~static/font/NanumGothic-Bold.eot);
   src: url( ~static/font/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
        url( ~static/font/NanumGothic-Bold.woff2) format('woff2'),
        url( ~static/font/NanumGothic-Bold.woff) format('woff'),
        /*url(./NanumGothic-Bold.ttf) format('truetype');*/
 }
 