
.btn{ color: #4b4f56; background-color: #f5f6f7; display: inline-block; padding: 5px 10px; border: 1px solid #ededed; font-size: 13px;
    &:hover{ background-color: #ebedf0; }
}

.btn-default{
    display: inline-block; color: #0d0d0d; font-size: 16px; border: 1px solid #d3d3d3; padding: 10px 60px; text-align: center;
}

.info-window-style{
    font-family: 'Nanum Gothic';
    font-size: 11px;
    font-weight: bold; 
    letter-spacing: 1px;
}

.default-input{
    width: 100%; border-bottom: 1px solid #d3d3d3; font-size: 16px; padding: 10px; 
}
